header {
  position: fixed;
  width: 100%;
  padding: 8px 0px 10px;
  background: var(--headerbackground);
  z-index: 99;
}
.navbar {
  padding: 10px 0px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__items {
  display: flex;
  gap: 27px;
}
.header__item a {
  color: #8b8e99;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  list-style-type: none;
  top: 100px;
  opacity: 0;
  z-index: -1;
  transition: 1s;
}

.dd-link {
  color: white;
}

.dropdown:hover .dropdown-content {
  top: 20px;
  opacity: 1;
  z-index: 1;
}
.button {
  display: flex;
  align-items: center;
  gap: 55px;
}
#dark-light {
  border: none;
  cursor: pointer;
  background: linear-gradient(#383638, #0b0b0b);
}
.header-images {
  display: flex;
  gap: 15px;
}
#navbar-open {
  display: none;
}
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  background-color: #383638;
}

.res-header-list {
  list-style-type: none;
}

.res-header-item {
  margin: 30px 0;
  text-align: center;
}
.res-header-item a {
  color: #fff;
}
.res-header-item a:hover {
  color: #fac422;
}

.res-header-link {
  font-size: 30px;
}

#navbar-close {
  position: absolute;
  top: 41px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/*Navbar responsive*/

@media (max-width: 950px) {
  .header__items {
    display: none;
  }
  .hamburger {
    background-color: #8b8e99;
    width: 10%;
  }
  .header-images {
    display: none;
  }
  #navbar-open {
    display: block;
    border: none;
  }
}
/*home section*/
